@use "/assets/globalStyles/_variables" as *;

.background-container {
    height: 100%;
    background-image: url("/public/images/antlers bg.webp");
    background-size: cover;
}

.section-abt-me {
    margin-top: 1.8rem;
    position: relative;
    user-select: none;
}

.overlay-blur-abt-me {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(6px);
    clip-path: inset(0 0 0 0);
}

// OVER THE PRIMARY COLOR //
.overlay-rectangle {
    color: $lightFontColor;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 65%;
    background-color: $primaryColor;
    z-index: 2;
}

.rectangle-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4.8rem 0 2.4rem 0;
    height: 100%;

    .image-description {
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-rectangle {
            width: 70%;
            border-radius: 4px;
        }

        .abt-me-description {
            width: 60%;
            font-size: 2.1rem;
            font-weight: 350;
            margin-top: 3.2rem;
            margin-left: 1.6rem;
            user-select: text;
        }

        .description {
            margin-top: 2.4rem;
        }
    }

    .download-cv-div {
        position: relative;

        .download-cv {
            font-size: 1.8rem;
            font-weight: 350;
            display: inline-block;
            text-decoration: none;
            color: $lightFontColor;
        }
    }
}

// OVER THE IMAGE //
.aboutme-content {
    color: $lightFontColor;
    padding: 2.4rem 3.2rem;
    position: relative;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: $boldFontFamily;

    .section-title {
        font-size: $sectionTitleFontSize;
    }

    .abt-me-resume {
        font-size: 2.4rem;
        margin-bottom: 30rem;
        text-align: right;
    }
}
