@use "/assets/globalStyles/_variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: $primaryColor;
}

body {
    cursor: none !important;
    color: $lightFontColor;
    font-family: $defaultFontFamily;
    font-weight: 400;
}

a,
button,
input,
textarea,
label {
    cursor: none !important;
}

.section {
    height: 100vh;
}

.art-title-text {
    opacity: 0.8;
    font-family: $defaultFontFamily;
    font-size: 1.4rem;
    font-style: italic;
}
