@use "/assets/globalStyles/variables.scss" as *;

.adminpage-section {
    height: 100vh;
    width: 100vw;
    display: flex;

    font-family: $boldFontFamily;

    color: $primaryColor;
}

.adminpage-div {
    display: flex;
    flex-direction: column;
    background-color: $backgroundColor;

    form {
        margin-top: 1rem;
    }
}

.loading {
    font-size: 1.8rem;
    padding: 6px 15px;
}

.adminpage-title {
    margin: auto;
    font-size: 3rem;
    font-weight: 500;
}

.form-item {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.submit-div {
    display: flex;
    gap: 1rem;
    align-items: end;
}

.logged-in-div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-size: 2.2rem;
    }
}

.button-div {
    display: flex;
    gap: 1.4rem;
}

input[type="file"] {
    font-size: 1.6rem;
}

input[type="file"]::file-selector-button {
    border-radius: 4px;
    background-color: $primaryColor;
    border-style: none;
    padding: 6px 15px;
    font-family: $boldFontFamily;
    color: $backgroundColor;
    margin-right: 1.2rem;
    cursor: none;
}

.input-select {
    border-radius: 4px;
    box-shadow: inset 0 0 2px #222;
    border: 1px solid $primaryColor;
    background: $backgroundColor;
    font-family: $boldFontFamily;
    letter-spacing: 0.4px;
    font-size: 1.8rem;
    padding: 8px 16px;
}
