@use "/assets/globalStyles/_variables" as *;

.cursor-dot {
    position: fixed;
    pointer-events: none;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid rgb(27, 43, 39);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    transition: transform 0.2s;
}

.cursor-dot-pointer {
    transform: translate(-50%, -50%) scale(1.3);
    box-shadow: 0 0 10px rgba(27, 43, 39, 0.8);
    border: 1px solid rgb(27, 43, 39, 0.8);
    background-color: $primaryColorContrast;
    opacity: 0.8;
}

.click-effect {
    transform: translate(-50%, -50%) scale(0.7);
    will-change: transform;
}

.copyright-text {
    text-align: right;
    font-size: 1.4rem;
}
